@import './color';
@import './font';
@import './mixin';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    margin: 0 auto;
}

.maximum { 
    display: flex;
    justify-content: center;
    background: rgb(241,242,244);
    background: linear-gradient(90deg, rgba(241,242,244,1) 0%, rgba(241,241,243,1) 10%, rgba(255,255,255,1) 100%);
    z-index: 0;
    &-left {
        width: 600px;
        height: 1350px;
        background-image: url('../../images/png/Maximum_index1.png');
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        object-fit: cover;
        display: block;
        float: left;
        margin-left: -300px;

        .maximum-logo {
            position: absolute;
            right: -30px;
            top: 10px;
            z-index: 5;

            &-item {
                width: 330px;
                height: 200px;
                background-color: #30b286;
                clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
                @include flex-center;
                position: relative;
                z-index: 2;

                &-in {
                    width: 97%;
                    height: 97%;
                    background-color: #fff;
                    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
                    @include flex-center;
                }
            }

            .back {
                width: 30px;
                height: 50px;
                position: absolute;
                right: 0;
                bottom: -25px;
                background-color: var(--gray-dark);
                clip-path: polygon(100% 50%, 0 0, 0 100%);
                z-index: 0;
            }
        }

        .maximum-contacts { 
            position: absolute;
            top: 250px;
            right: 50px;
            .contact-item {
                margin-bottom: 20px;
                display: flex;
                align-items: start;

                &__text {
                    margin-left: 25px;
                    font-family: 'Intro', sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    color: var(--white);
                }
                .email_text{
                    margin-top: -5px;
                }
            }

            .contact-list {
                margin-top: 50px;
                @include flex-between;

                &__link {
                    color: var(--teal);
                    font-size: 20px;
                    transition: .3s;
                    &:hover {
                        color: var(--gray-dark);
                    }
                }
            }
        }

        .maximum-news {  
            position: absolute;
            top: 535px;
            right: 30px;
            &__title {
                font-size: 24px;
                font-weight: 400;
                font-family: 'Intro', sans-serif;
                margin-bottom: 15px;
                color: var(--white);
            }
            &-item {
                width: 250px;
                height: 220px;
                background-color: #30b286;
                clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
                @include flex-center;

                &-in {
                    width: 97%;
                    height: 97%;
                    background-color: #fff;
                    clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
                    padding: 20px;
                    font-family: 'Intro', sans-serif;
                }

                .news__sub-title{
                    color: var(--green-dark);
                    margin-bottom: 15px;
                }
                .news__text{
                    color: var(--gray-dark);
                }
                .fa-long-arrow-right{
                    color: var(--green-dark);
                    font-size: 28px;
                    margin-top: 20px;
                }
            }
        }

        .maximum-parrot {
            position: absolute;
            top: 700px;
            right: 5px;
        }

        &-sub-text {
            position: absolute;
            bottom: 270px;
            right: 50px;
            font-size: 75px;
            font-weight: 300;
            color: var(--white);
            font-family: 'Intro', sans-serif;
            line-height: 55px;

            span {
                font-size: 55px;
            }
        }
        &__btn {
            width: auto;
            height: 110px;
            position: absolute;
            right: -28px;     
            bottom: 50px;
            background: transparent;
            display: flex;
            .middle {
                width: 265px;
                height: 110px;
                background-color: var(--green-dark);
                clip-path: polygon(0 0, 100% 12%, 100% 88%, 0% 100%);
                text-transform: uppercase;
                color: var(--white); 
                font-weight: 700;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 4;
            }  
            cursor: pointer;   
            
            .left {
                display: flex;
                width: 60px;
                height: 110px;
                background-color: #20947e;
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
                position: relative;
                left: 1px;
                z-index: 5;
                color: var(--white);
                @include flex-center;
                font-size: 25px;
            }
            .right {
                width: 50px;
                height: 50px;
                background-color: #4a4d58;
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                position: absolute;
                top: -10px;
                right: 0;
                z-index: 0;

            }
        }
    }
    // End left box

    &-right {
            display: block;
            float: left;

        .header {
            .container {
                padding-left: 100px;
                position: relative;
            }
            &-sup {
                width: 80%;
                @include flex-between;
                padding: 40px 0;
                margin-left: auto;
                font-family: 'Intro', sans-serif;

                &__img,
                &__img-right,
                &__img-frame {
                    position: absolute;
                    top: 0;
                    z-index: 0;
                }
                &__img {
                    left: -250px;
                }
                &__img-right {
                    right: -300px;
                }
                &__img-frame {
                    right: -170px;
                }

                &__phone {
                    font-size: 24px;
                    color: var(--gray-dark);
                    font-weight: 400;
                    position: relative;
                    z-index: 1;
                }

                &__btn {
                    width: 200px;
                    height: 45px;
                    background-color: var(--green-dark);
                    color: var(--white);
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: uppercase;
                    cursor: pointer;
                    position: relative;
                    z-index: 1;
                }
            }
        
            &-item {
                @include flex-between;
                position: relative;
                z-index: 1;
                &__link {
                    color: var(--gray-dark);
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: 'Intro', sans-serif;
                    &:hover {
                        color: var(--green-dark);
                    }
                }
            }
        }
        // End header

        .maximum-middle {
            position: relative;
            z-index: 1;
            padding-top: 90px;
            text-align: center;
            .maximum__title-text {
                font-size: 36px;
                font-weight: 400;
                color: var(--gray-dark);
                font-family: 'Intro', sans-serif;
                text-align: center;
            }
            .line {
                @include flex-center;
                margin: 20px 0;
                &__green {
                    display: block;
                    width: 100px;
                    height: 2px;
                    background-color: var(--green-dark);
                }
            }

            .maximum__title-sub-text {
                font-size: 24px;
                font-weight: 400;
                color: var(--gray-dark);
                text-align: center;
                font-family: 'Intro', sans-serif;
            }
        }


        .translation {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            margin-left: 30px;
            margin-top: 80px;

            &__img {
                position: relative;
                z-index: 4;
            }
            
            &-item {
                position: relative;
                width: 33%;
                
            .percent {
                width: auto;
                height: 110px;
                position: absolute;
                right: 0;
                top: -40px;
                background: transparent;
                display: flex;
                .middle {
                    width: 130px;
                    height: 50px;
                    background-color: var(--blue);
                    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
                    text-transform: uppercase;
                    color: var(--white); 
                    font-weight: 700;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    text-align: left;
                    position: relative;
                    z-index: 5;
                    font-family: "Inert", sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                }  
                
                .left {
                    display: flex;
                    width: 35px;
                    height: 50px;
                    background-color: #5f6370;
                    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
                    position: relative;
                    left: 1px;
                    z-index: 5;
                    color: var(--white);
                    @include flex-center;
                    font-size: 25px;
                }
                .right {
                    width: 50px;
                    height: 50px;
                    background-color: var(--green-dark);
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    position: absolute;
                    bottom: 42px;
                    right: 0;
                    z-index: 0;

                }
            }
            }
            &__btn {
                width: auto;
                height: 110px;
                position: absolute;
                left: 0;
                bottom: -10px;
                background: transparent;
                display: flex;
                .middle {
                    width: 265px;
                    height: 110px;
                    background-color: #4a4d58;
                    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 85%);
                    text-transform: uppercase;
                    color: var(--white); 
                    font-weight: 700;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    text-align: left;
                    position: relative;
                    z-index: 4;

                    .fa-long-arrow-right {
                        font-size: 25px;
                        color: var(--green-dark);
                    }
                }  
                cursor: pointer;   
                
                .left {
                    display: flex;
                    width: 60px;
                    height: 110px;
                    background-color: #5f6370;
                    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
                    position: relative;
                    left: -1px;
                    z-index: 5;
                    color: var(--white);
                    @include flex-center;
                    font-size: 25px;
                }
                .right {
                    width: 50px;
                    height: 50px;
                    background-color: var(--green-dark);
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    position: absolute;
                    top: -10px;
                    left: 0;
                    z-index: 0;

                }
            }

            .green_btn {
                .middle {
                   background-color: #118973; 
                }
                .left {
                    background-color: #20947e;
                }
                .fa-long-arrow-right {
                    color: var(--white);
                }
            }

            &__cup {
                position: absolute;
                bottom: -22px;
                right: -280px;
            }
        }
        .maximum-info {
            @include flex-between;
            flex-wrap: wrap;
            margin-top: 50px;

            &-item {
                width: 50%;
                display: flex;
                align-items: start;
                padding: 25px 0 25px 60px;

                &__img {
                    margin-top: 5px;
                }
            }


            .securely {
                border: 1px dashed var(--green-dark);
                border-left: none;
                position: relative;

                &-icon {
                    position: absolute;
                    right: -22px;
                    &-box {
                        width: 120px;
                        height: 120px;
                        background-color: var(--blue);
                        clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 0 50%);
                        position: relative;
                        z-index: 2;
                        @include flex-center;
                    }
                    .back {
                        width: 40px;
                        height: 40px;
                        background-color: var(--gray-dark);
                        clip-path: polygon(50% 50%, 0 0, 0 100%);
                        position: absolute;
                        right: -18px;
                        bottom: -20px;
                        z-index: 1;
                    }
                }

            }
            &-text {
                margin-left: 20px;
                font-weight: 400;
                color: var(--gray-dark);
                font-family: 'Intro', sans-serif;
                padding-right: 70px;
                &__title {
                    font-size: 22px;
                    margin-bottom: 30px;
                }
                &__text {
                    font-size: 16px;
                }
            }
        }
    }
    // End right box
}
// End maximum

.customers {
    padding-top: 100px;
    background: rgb(241,242,244);
    background: linear-gradient(90deg, rgba(241,242,244,1) 0%, rgba(241,241,243,1) 10%, rgba(255,255,255,1) 100%);
    margin: 0 auto;
    width: 100%;

    .container {
        max-width: 1920px;
        position: relative;
    }
    

    .satisfied-customers {
        text-align: right;
        font-family: 'Inert', sans-serif;
        margin-bottom: 20px;
        padding-right: 120px;

        .read__reviews {
            font-weight: 500;
            color: var(--green-dark);
            position: absolute;
            top: -50px;
            right: 150px;
            border-bottom: 1px solid var(--green-dark);
        }

        &__text {
            font-size: 24px;
            font-weight: 500;
            color: var(--gray-dark);
            margin-right: 20px;
        }

        &__num {
            width: 60px;
            height: 60px;
            padding: 0px 15px;
            border: 1px dashed var(--blue);
            color: var(--blue);
            font-size: 48px;
            font-weight: 700;
            margin-right: 10px;
        }
        .green_border {
            border: 1px dashed var(--green-dark);
            color: var(--green-dark);
        }
    }

    .keyboard {
        position: absolute;
        left: 0px;
        top: -160px;
    }

    
    &-box {
        max-width: 1550px;
        height: auto;
        background-color: var(--green-dark);
        clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 50%);
        @include flex-center;
        padding: 5px 0;

        &-in {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 99%;
            height: 95%;
            background-color: var(--white);
            clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 50%);
            padding: 35px 100px 35px 150px;
            
            .customers__brend {
                margin-right: 40px;
                margin-bottom: 20px;
            }
        }
    }
    
    &-item {
        max-width: 1550px;
        position: relative;
        margin-left: 100px;

        .our-customers {
            position: absolute;
            left: 77px;
            top: 37px;
            &-item {
                width: 370px;
                height: 40px;
                background-color: var(--green-dark);
                clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
                @include flex-center;
                font-family: "Inert", sans-serif;
                text-transform: uppercase;
                font-weight: 700;
                color: var(--white);
            }

            .back {
                width: 60px;
                height: 40px;
                background-color: var(--gray-dark);
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                position: absolute;
                right: -30px;
                top: 0;
            }
        }


        &__title {
            position: absolute;
            top: 15px;
            left: 150px;
            z-index: 1;
            font-size: 18px;
            font-weight: 400;
            color: var(--white);
            font-family: 'Inert', sans-serif;
            text-transform: uppercase;
        }

        .customers__right-img {
            position: absolute;
            bottom: 0;
            right: -195px;
        }
        .white__parrot {
            position: absolute;
            top: -90px;
            right: -5px;
        }
    }

    &-right {
        position: absolute;
        height: auto;
        width: 200px;
        overflow-x: hidden;
        right: -200px;
        bottom: 0;
        &-box {
            width: 200px;
            height: 450px;
            background-color: var(--blue);
            clip-path: polygon(100% 0, 100% 50%, 0 100%, 0% 50%);
            position: relative;
            z-index: 1;
        }
        .middle-box {
            position: absolute;
            width: 200px;
            height: 450px;
            background-color: var(--gray-dark);
            clip-path: polygon(100% 50%, 100% 100%, 0 50%, 0 0);
            top: 50%;
            transform: translateY(-50%);
           z-index: 0;
        }
        .green_box {
            background-color: var(--green-dark);
        }
    }
}
// End customers

.aside {
    @include flex-between;
    background: rgb(241,242,244);
    background: linear-gradient(90deg, rgba(241,242,244,1) 0%, rgba(241,241,243,1) 10%, rgba(255,255,255,1) 100%);
    padding: 70px 0;
    &-left {
        width: 48.5%;
            position: relative;

        &-item {
            width: 100%;
            height: 380px;
            background-color: var(--green-dark);
            clip-path: polygon(93% 0, 100% 13%, 100% 100%, 0 100%, 0 0);
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: end;
            padding: 40px;

            &-info {
                width: 40%;
                font-family: 'Intro', sans-serif;
                color: var(--white);
                font-weight: 300;

                .info__text {
                    margin-top: 25px;
                }
            }
        }

        .left-img {
            height: 440px;
            width: 350px;
            position: absolute;
            top: -40px;
            left: 20px;

            .rhombus {
                width: 80px;
                height: 80px;
                background-color: var(--gray-dark);
                position: absolute;
                top: 0px;
                right: -40px;
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                z-index: 0;
            }
        }

        &__img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            z-index: 2;
        }

        &__btn {
            width: auto;
            height: 110px;
            position: absolute;
            right: -28px;     
            bottom: -15px;
            background: transparent;
            display: flex;
            .middle {
                width: 250px;
                height: 110px;
                background-color: #5f6370;
                clip-path: polygon(0 0, 100% 12%, 100% 88%, 0% 100%);
                text-transform: uppercase;
                color: var(--white); 
                font-weight: 700;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 5;
            }  
            cursor: pointer;   
            
            .left {
                display: flex;
                width: 60px;
                height: 110px;
                background-color: #4a4d58;
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
                position: relative;
                left: 1px;
                z-index: 5;
                color: var(--white);
                @include flex-center;
                font-size: 25px;
            }
            .right {
                width: 60px;
                height: 60px;
                background-color: var(--blue);
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                position: absolute;
                top: -15px;
                right: 0;
                z-index: 0;

            }
        }
    }
    &-right {
        width: 42.5%;
        position: relative;

        &-bg {
            width: 100%;
            height: 400px;
            background-color: var(--gray-dark);
            clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 0;
        }
        .right-box {
            width: 520px;
            height: 520px;
            background-color: #7193bf;
            clip-path: polygon(0 3%, 90% 0, 100% 10%, 100% 97%, 10% 100%, 0 90%);
            position: relative;
            z-index: 2;
        }
        .form {
            font-family: "Inert", sans-serif;
            position: absolute;
            width: 520px;
            height: 520px;
            top: 0;
            left: 0;  
            padding: 30px 0;

            &-item {
                display: flex;
            }

            &__title {
                color: var(--white);
                position: relative;
                z-index: 4;
                margin-left: 40px;
                margin-bottom: 20px;
                font-size: 48px;
            }


            &-left {
                width: 40%;
                height: 100%;
                position: relative;
                .form-list {
                    position: relative;
                    margin-bottom: 15px;
                }
                &-inp {
                    width: 240px;
                    height: 55px;
                    background-color: #7193bf;
                    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
                    position: relative;
                    left: -25px;
                    @include flex-center;
                    z-index: 3;

                    .form__inp {
                        width: 230px;
                        height: 45px;
                        background-color: var(--white);
                        clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
                        padding: 0 15px;
                        font-size: 16px;
                        color: var(--gray-dark);
                    
                    }
                }
                .middle-inp,
                .middle_inp {
                    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
                }
                .back {
                    width: 50px;
                    height: 50px;
                    background-color: var(--gray-dark);
                    position: absolute;
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    left: -25px;
                    bottom: -25px;
                    z-index: 0;
                }
                .middle_back {
                    left: -25px;
                    bottom: -18px;
                }

                &-inp-file {
                    position: relative;
                    z-index: 4;
                    padding-left: 20px;
                    margin-bottom: 25px;

                    label {
                        @include flex-between;
                        cursor: pointer;

                        .label__text {
                            color: var(--white);
                            font-weight: 700;
                            border-bottom: 1px solid var(--white);
                        }

                    }

                    .form__inp-file {
                        display: none;
                    }
                }

                &__text,
                &__link {
                    position: relative;
                    z-index: 4;
                    color: var(--white);
                    text-align: right;
                }

                &__link {
                    display: flex;
                    align-items: end;
                    flex-direction: column;
                    line-height: 8px;
                    margin-top: 10px;
                    font-weight: 700;
                    span {
                        padding-bottom: 5px;
                        border-bottom: 1px solid var(--white);
                    }
                    
                }
            }

            
            
            &-right {
                width: 60%;
                height: 100%;
                position: relative;
                z-index: 4;
                padding: 10px 25px;

                .form__textarea {
                    width: 100%;
                    height: 350px;
                    border: none;
                    outline: none;
                    padding: 35px 25px 100px 35px;
                    font-size: 18px;
                    color: var(--gray-dark);

                    &::placeholder {
                        font-size: 18px;
                        color: var(--gray-dark);
                    }
                }
            }

            &__btn {
                width: auto;
                height: 110px;
                position: absolute;
                right: -28px;     
                bottom: -10px;
                background: transparent;
                display: flex;
                .middle {
                    width: 265px;
                    height: 110px;
                    background-color: var(--green-dark);
                    clip-path: polygon(0 0, 100% 12%, 100% 88%, 0% 100%);
                    text-transform: uppercase;
                    color: var(--white); 
                    font-weight: 700;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 5;
                }  
                cursor: pointer;   
                
                .left {
                    display: flex;
                    width: 60px;
                    height: 110px;
                    background-color: #20947e;
                    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
                    position: relative;
                    left: 1px;
                    z-index: 5;
                    color: var(--white);
                    @include flex-center;
                    font-size: 25px;
                }
                .right {
                    width: 50px;
                    height: 50px;
                    background-color: #4a4d58;
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    position: absolute;
                    top: -10px;
                    right: 0;
                    z-index: 1;

                }
            }
        }
    }
    
}

.footer {
    display: flex;
    margin-top: 50px;
    font-family: 'Intro', sans-serif;

    &-left {
        width: 45%;
        height: auto;
        background-color: var(--gray-light);
        padding: 30px 0;
        display: flex;
        justify-content: end;
    }
    &-contact-item {
        padding-right: 100px;
        margin-top: 50px;

        &-info {
            display: flex;
            align-items: start;
            margin-top: 20px;

            .contact__info {
                margin-left: 15px;
                font-weight: 400;
                color: var(--gray-dark);
            }
        }
    }

    &-contact-list {
        @include flex-between;
        padding: 0 25px 0 200px;
        margin-top: 20px;

        &__link {
            font-size: 22px;
            color: var(--gray);
            transition: .3s;

            &:hover {
                color: var(--green-dark);
            }
        }
    }

    

    &-right {
        width: 55%;
        height: auto;
        background-color: #e0e2e8;
        padding: 30px 35px;

        &-sup {
            &__text {
                color: var(--gray-dark);
            }
        }

        &-line {
            width: 150%;
            height: 60px;
            background-color: var(--blue);
            margin-left: -200px;
            margin-top: 30px;
            display: flex;
            align-items: center;
            padding-left: 70px;

            .number {
                font-size: 24px;
                color: var(--white);
                margin-right: 30px;
            }
            .line__btn {
                width: 220px;
                height: 50px;
                background-color: var(--green-dark);
                color: var(--white);
                text-transform: uppercase;
                font-weight: 400;
                cursor: pointer;
            }
        }
        .up {
            width: 100%;
            @include flex-center
        }
        .up__btn {
            width: 45px;
            height: 45px;
            background-color: var(--green-dark);
            color: var(--white);
            @include flex-center;
            font-size: 25px;
            transform: rotate(-90deg);
            margin-left: 200px;
        }
    }
    &-item-flex {
        display: flex;
        margin-top: 50px;

        .right_item {
            margin-left: 80px;
        }
    }
    &-item {
        li {
            margin-bottom: 20px;
        }
        &__link {
            color: var(--gray-dark);
            .fa-long-arrow-right {
                margin-right: 10px;
            }

            &:hover {
                color: var(--green-dark);
            }
        }
    }
}

@import './media'