@import './color';
@import './font';
@import './mixin';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;

    &:hover {
        opacity: 0.9;
    }
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    margin: 0 auto;
}

.maximum { 
    display: flex;
    justify-content: center;
    background: rgb(241,242,244);
    background: linear-gradient(90deg, rgba(241,242,244,1) 0%, rgba(241,241,243,1) 10%, rgba(255,255,255,1) 100%);
    z-index: 0;
    &-left {
        width: 600px;
        height: 1350px;
        background-image: url('../../images/png/Maximum_index1.png');
        background-repeat: no-repeat;
        position: relative;
        z-index: 5;
        object-fit: cover;
        display: block;
        float: left;
        margin-left: -300px;
        position: relative;

        .maximum__logo {
            position: absolute;
            right: -30px;
            top: 10px;
        }

        .maximum-contacts { 
            position: absolute;
            top: 250px;
            right: 50px;
            .contact-item {
                margin-bottom: 20px;
                display: flex;
                align-items: start;

                &__text {
                    margin-left: 25px;
                    font-family: 'Intro', sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    color: var(--white);
                }
                .email_text{
                    margin-top: -5px;
                }
            }

            .contact-list {
                margin-top: 50px;
                @include flex-between;

                &__link {
                    color: var(--teal);
                    font-size: 20px;
                    transition: .3s;
                    &:hover {
                        color: var(--gray-dark);
                    }
                }
            }
        }

        .maximum-news {  
            position: absolute;
            top: 535px;
            right: 30px;
            &__title {
                font-size: 24px;
                font-weight: 400;
                font-family: 'Intro', sans-serif;
                margin-bottom: 15px;
                color: var(--white);
            }
            &-item {
                width: 250px;
                height: 220px;
                background-image: url('../../images/png/figure1.png');
                background-repeat: no-repeat;
                background-size: contain;
                padding: 25px;
                font-family: 'Intro', sans-serif;
                font-weight: 500;
                font-size: 16px;

                .news__sub-title{
                    color: var(--green-dark);
                    margin-bottom: 15px;
                }
                .news__text{
                    color: var(--gray-dark);
                }
                .fa-long-arrow-right{
                    color: var(--green-dark);
                    font-size: 28px;
                    margin-top: 20px;
                }
            }
        }

        .maximum-parrot {
            position: absolute;
            top: 700px;
            right: 5px;
        }

        &-sub-text {
            position: absolute;
            bottom: 270px;
            right: 50px;
            font-size: 75px;
            font-weight: 300;
            color: var(--white);
            font-family: 'Intro', sans-serif;
            line-height: 55px;

            span {
                font-size: 55px;
            }
        }

        &__btn {
            width: 330px;
            height: 115px;
            background-image: url('../../images/png/fact-btn.png');
            position: absolute;
            right: -25px;
            bottom: 60px;
            @include flex-between;
            padding: 20px 50px 0 20px;
            color: var(--white);
            font-weight: 400;
            font-family: 'Intro', sans-serif;
            text-transform: uppercase;

            .fa-long-arrow-right {
                font-size: 25px;
                position: relative;
                left: 0;
                transition: .3s;
            }

            &:hover .fa-long-arrow-right {
                left: 50px;
            }
        }
    }
    // End left box

    &-right {
            display: block;
            float: left;

        .header {
            .container {
                padding-left: 100px;
                position: relative;
            }
            &-sup {
                width: 80%;
                @include flex-between;
                padding: 40px 0;
                margin-left: auto;
                font-family: 'Intro', sans-serif;

                &__img,
                &__img-right,
                &__img-frame {
                    position: absolute;
                    top: 0;
                    z-index: 0;
                }
                &__img {
                    left: -250px;
                }
                &__img-right {
                    right: -300px;
                }
                &__img-frame {
                    right: -170px;
                }

                &__phone {
                    font-size: 24px;
                    color: var(--gray-dark);
                    font-weight: 400;
                    position: relative;
                    z-index: 1;
                }

                &__btn {
                    width: 200px;
                    height: 45px;
                    background-color: var(--green-dark);
                    color: var(--white);
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: uppercase;
                    cursor: pointer;
                    position: relative;
                    z-index: 1;
                }
            }
        
            &-item {
                @include flex-between;
                position: relative;
                z-index: 1;
                &__link {
                    color: var(--gray-dark);
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: 'Intro', sans-serif;
                    &:hover {
                        color: var(--green-dark);
                    }
                }
            }
        }
        // End header

        .maximum-middle {
            position: relative;
            z-index: 1;
            padding-top: 60px;
            text-align: center;
            .maximum__title-text {
                font-size: 36px;
                font-weight: 400;
                color: var(--gray-dark);
                font-family: 'Intro', sans-serif;
                text-align: center;
            }
            .line {
                @include flex-center;
                margin: 20px 0;
                &__green {
                    display: block;
                    width: 100px;
                    height: 2px;
                    background-color: var(--green-dark);
                }
            }

            .maximum__title-sub-text {
                font-size: 24px;
                font-weight: 400;
                color: var(--gray-dark);
                text-align: center;
                font-family: 'Intro', sans-serif;
            }
        }


        .translation {
            display: flex;
            align-items: flex-end;
            // flex-wrap: wrap;
            margin-left: 30px;
            
            &-item {
                position: relative;
                display: block;

                .discount {
                    width: 135px;
                    height: 60px;
                    @include flex-center;
                    text-align: center;
                    background-image: url('../../images/png/discount.png');
                    background-repeat: no-repeat;
                    position: relative;
                    top: 15px;
                    left: 178px;

                    &__text {
                        font-size: 24px;
                        font-weight: 400;
                        color: var(--white);
                        font-family: 'Intro', sans-serif;
                    }
                }
                &__btn {
                    display: inline-block;
                    width: 330px;
                    height: 110px;
                    @include flex-between;
                    padding-left: 40px;
                    padding-right: 100px;
                    text-align: start;
                    background-image: url('../../images/png/btn-gray.png');
                    background-repeat: no-repeat;
                    position: relative;
                    top: -80px;
                    left: -1px;
                    color: var(--white);
                    font-family: 'Intro', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;

                    .fa-long-arrow-right {
                        font-size: 25px;
                        position: relative;
                        left: 0;
                        transition: .3s ease;
                    }

                    .btn__text,
                    .btn_green__text {
                        width: 100%;
                        @include flex-between;
                    }

                    .btn__text {
                        margin-top: 25px;
                    }
                    

                    &:hover .fa-long-arrow-right{
                        left: 70px;
                    }
                }

                .btn_green {
                    background-image: url('../../images/png/btn-green.png');
                    height: 100px;
                    top: -77px;
                    left: 1;

                    &:hover .fa-long-arrow-right{
                        // position: absolute;
                    }
                }
            }

            &__cup {
                position: absolute;
                bottom: 53.5px;
                right: -305px;
            }
        }
        .maximum-info {
            @include flex-between;
            flex-wrap: wrap;

            &-item {
                width: 50%;
                display: flex;
                align-items: start;
                padding: 25px 0 25px 60px;

                &__img {
                    margin-top: 5px;
                }
            }


            .securely {
                border: 1px dashed var(--green-dark);
                border-left: none;
                position: relative;

                &__img {
                    position: absolute;
                    top: 10px;
                    right: -30px;
                }
            }
            &-text {
                margin-left: 20px;
                font-weight: 400;
                color: var(--gray-dark);
                font-family: 'Intro', sans-serif;
                padding-right: 70px;
                &__title {
                    font-size: 22px;
                    margin-bottom: 30px;
                }
                &__text {
                    font-size: 16px;
                }
            }
        }
    }
    // End right box
}
// End maximum

.customers {
    padding-top: 100px;
    background: rgb(241,242,244);
    background: linear-gradient(90deg, rgba(241,242,244,1) 0%, rgba(241,241,243,1) 10%, rgba(255,255,255,1) 100%);
    margin: 0 auto;
    width: 100%;

    .container {
        max-width: 1920px;
        position: relative;
    }
    

    .satisfied-customers {
        text-align: right;
        font-family: 'Inert', sans-serif;
        position: relative;
        position: absolute;
        right: 110px;
        top: -30px;

        .read__reviews {
            font-weight: 500;
            color: var(--green-dark);
            position: absolute;
            top: -50px;
            right: 30px;
            border-bottom: 1px solid var(--green-dark);
        }

        &__text {
            font-size: 24px;
            font-weight: 500;
            color: var(--gray-dark);
            margin-right: 20px;
        }

        &__num {
            width: 60px;
            height: 60px;
            padding: 0px 15px;
            border: 1px dashed var(--blue);
            color: var(--blue);
            font-size: 48px;
            font-weight: 700;
            margin-right: 10px;
        }
        .green_border {
            border: 1px dashed var(--green-dark);
            color: var(--green-dark);
        }
    }

    .keyboard {
        position: absolute;
        left: 0px;
        top: -160px;
    }
    
    &-item {
        max-width: 1550px;
        height: 285px;
        position: relative;
        margin-left: 100px;

        &__title {
            position: absolute;
            top: 15px;
            left: 150px;
            z-index: 1;
            font-size: 18px;
            font-weight: 400;
            color: var(--white);
            font-family: 'Inert', sans-serif;
            text-transform: uppercase;
        }

        .customers-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../../images/png/figure-slider.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            @include flex-between;
            flex-wrap: wrap;
            padding: 100px 40px 100px 120px;
            overflow: hidden;

            .customers__brend {
                margin-right: 40px;
                margin-bottom: 50px;
            }
        }
        .customers__right-img {
            position: absolute;
            bottom: 0;
            right: -195px;
        }
        .white__parrot {
            position: absolute;
            top: -125px;
            right: -5px;
        }
    }
}
// End customers

.footer {
    display: flex;
    margin-top: 50px;
    font-family: 'Intro', sans-serif;

    &-left {
        width: 45%;
        height: auto;
        background-color: var(--gray-light);
        padding: 30px 0;
        display: flex;
        justify-content: end;
    }
    &-contact-item {
        padding-right: 100px;
        margin-top: 50px;

        &-info {
            display: flex;
            align-items: start;
            margin-top: 20px;

            .contact__info {
                margin-left: 15px;
                font-weight: 400;
                color: var(--gray-dark);
            }
        }
    }

    &-contact-list {
        @include flex-between;
        padding: 0 25px 0 200px;
        margin-top: 20px;

        &__link {
            font-size: 22px;
            color: var(--gray);
            transition: .3s;

            &:hover {
                color: var(--green-dark);
            }
        }
    }

    

    &-right {
        width: 55%;
        height: auto;
        background-color: #e0e2e8;
        padding: 30px 35px;

        &-sup {
            &__text {
                color: var(--gray-dark);
            }
        }

        &-line {
            width: 150%;
            height: 60px;
            background-color: var(--blue);
            margin-left: -200px;
            margin-top: 30px;
            display: flex;
            align-items: center;
            padding-left: 70px;

            .number {
                font-size: 24px;
                color: var(--white);
                margin-right: 30px;
            }
            .line__btn {
                width: 220px;
                height: 50px;
                background-color: var(--green-dark);
                color: var(--white);
                text-transform: uppercase;
                font-weight: 400;
                cursor: pointer;
            }
        }
        .up {
            width: 100%;
            @include flex-center
        }
        .up__btn {
            width: 45px;
            height: 45px;
            background-color: var(--green-dark);
            color: var(--white);
            @include flex-center;
            font-size: 25px;
            transform: rotate(-90deg);
            margin-left: 200px;
        }
    }
    &-item-flex {
        display: flex;
        margin-top: 50px;

        .right_item {
            margin-left: 80px;
        }
    }
    &-item {
        li {
            margin-bottom: 20px;
        }
        &__link {
            color: var(--gray-dark);
            .fa-long-arrow-right {
                margin-right: 10px;
            }

            &:hover {
                color: var(--green-dark);
            }
        }
    }
}

@import './media'